/problema1/Calificacion/nbproject/private/
/problema1/Calificacion/build/
/problema2/Profesor/nbproject/private/
/problema2/Profesor/build/
/problema3/Automovil/nbproject/private/
/problema3/Automovil/build/
/problema4/Cheque/nbproject/private/
/problema4/Cheque/build/
